body {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  grid-gap: 0;
}

@media only screen and (min-width: 900px) {
  .wrapper {
    display: grid;
    grid-gap: 0;
    grid-template-areas: "content";
  }
}

/*content*/

.content {
  grid-area: content;
  flex-grow: 1;
  display: grid;
  background-color: black;
}

.project {
  display: flex;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.a {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/a.png) no-repeat center center fixed;
  background-size: cover;
}

.c {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/b.png) no-repeat center center fixed;
  background-size: cover;
}


.d {
  background: url(./images/b.png) no-repeat center center fixed;
  background-size: cover;
}

.e {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/c.png) no-repeat center center fixed;
  background-size: cover;
}

.f {
  background: url(./images/c.png) no-repeat center center fixed;
  background-size: cover;
}

.g {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/d.png) no-repeat center center fixed;
  background-size: cover;
}

.h {
  background: url(./images/d.png) no-repeat center center fixed;
  background-size: cover;
}

.i {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/e.png) no-repeat center center fixed;
  background-size: cover;
}

.j {
  background: url(./images/e.png) no-repeat center center fixed;
  background-size: cover;
}

.k {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/f.png) no-repeat center center fixed;
  background-size: cover;
}

.l {
  background: url(./images/f.png) no-repeat center center fixed;
  background-size: cover;
}

/*content*/

/*scroll button*/

.scroll-btn{
  transform: translate(-50%, -50%);
  width: 30px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50px;
}

.scroll-btn:hover {
  opacity: 0.7;
}

.scroll-btn:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 2px;
  height: 10px;
  background-color: white;
  animation: scrollDown 2s infinite;
}

@keyframes scrollDown {
  0% {
    opacity: 0;
    transform: translate(-50%, 0);
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(-50%, 22px);
  }
}

/*scroll button*/


.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.aa {
  background: url(./images/a.png) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.a1 {
  background: url(./images/a1.png) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.a2 {
  background: url(./images/a2.png) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.a3 {
  background: url(./images/a3.png) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.cc {
  background: url(./images/b.png) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.c1 {
  background: url(./images/c1.png) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.c2 {
  background: url(./images/c2.png) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.c3 {
  background: url(./images/c3.png) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5,
#carousel-6:checked ~ .control-6,
#carousel-7:checked ~ .control-7,
#carousel-8:checked ~ .control-8 {
    display: block;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}